.idea/
__pycache__/
dist/
*.egg-info/
.eggs/
.coverage
.vscode/
environment.sh
htmlcov/
*.swp
*.old
.DS_Store
.mypy_cache/
mypy.ini
libs/*
test_projects/
report.xml
coverage.xml
example.log
kickoff_staging_pipeline/templates/.gitlab-ci.yml
kickoff_staging_pipeline/secrets.yaml
kickoff_staging_pipeline/staging_projects
