# Built-in Gitlab template test stage https://gitlab.com/gitlab-org/gitlab/-/tree/master/lib/gitlab/ci/templates
# Todo: confirm that it picks up passwords

include:
  - template: Security/Secret-Detection.gitlab-ci.yml

.secret-analyzer:
  stage: lint

secret_detection:
  tags:
    - ironbank

secret_detection_default_branch:
  tags:
    - ironbank
