# Set this for your top level group in gitlab
# all projects will exist in this group at https://<staging_url>/dsop/<tester>
tester: <replace_me>

pipeline_branch: <replace_me>
modules_tag: <replace_me>
src_gitlab_url: repo1.dso.mil
dest_gitlab_url: <replace_me>
group: dsop
clone_dir: staging_projects
ci_file: .gitlab-ci.yml
templates: templates
default_project_branch: master
# project path in gitlab
projects:
  - src_path: redhat/ubi/ubi8
    base_image: True
  # - src_path: google/distroless/static
  #   base_image: True
  # - src_path : fluxcd/helm-controller
  # - src_path: redhat/openjdk/openjdk11
  # - src_path: aiml/airflow/airflow
  #   dest_project_name: aiml_airflow
  # - src_path: suse/bci/bci-base
  # - src_path: twistlock/console/console
  #   dest_project_name: twistlock_console
  #   base_image: True
  # branch: master   # --- branch can be set at a per project level
